// color
$light: #ffffff;
$primary-300: #ffcc21;
$primary-400: #ff963c;
$secondary-300: #8fe9d0;
$dark-600: #2e2e2e;
$dark-500: #414141;
$gray-400: #777777;

$font-size-base: 16px;
$font-size-xxs: 11px;
$font-size-xs: 14px;
$font-size-sm: 16px;
$font-size-md: 18px;
$font-size-lg: 20px;
$font-size-xl: 24px;
$font-size-xxl: 28px;

$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: bolder;

$line-height-base: 1.5;
$line-height-sm: 1.25;
$line-height-lg: 2;
